
:root {
   --branding-color: rgb(41, 38, 38);
   --secondary-color: blue;
   --font-family: "Karla" sans-serif;
   --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}
h1, h2, p {
   color: var(--branding-color);
   font-family: var(--font-family);
   font-weight: bold; 
   text-align: center;
}
.hero {
   font-family: var(--font-family);
 
   color: var(--branding-color);
   font-size: 28px;
   font-weight: bold;
}
.hero1 {
   font-size: 48px; 
}
.projects-section h1 {
font-size: 64px;
line-height: 80px;
margin-top: 30px;
}
.projects-section h2 {
   margin-top: 30px;
   font-size: 28px;
   }
.text {
   text-align: left;
}
.navigation-links {
   display: flex;
   margin-top: 40px;
   justify-content: center;
 }
 
 .navigation-links a {
   margin: 20px;
 }
 
 .primary-link {
   background: var(--branding-color);
   box-shadow: var(--box-shadow);
   border-radius: 4px;
   padding: 20px 15px;
   text-decoration: none;
   color: white;
 }
 
 .secondary-link {
   color: var(--primary-color);
   border: 1px solid var(--branding-color);
    padding: 20px 15px;
   text-decoration: none; 
   border-radius: 4px;
   text-transform: capitalize;
 }

   
