
h1 {
   color: black;
   font-family: "Poppins";
   font-weight: bold;
}
p {
   font-family: "Poppins";
   font-weight: normal;
}
.hero {
    background: url(img/eye-cyber.png) no-repeat center; 
    background-size: cover;
    height: 400px;
    position: relative;
}