
:root {
   --branding-color: rgb(41, 38, 38);
   --secondary-color: blue;
   --font-family: "Karla" sans-serif;
}
h1, h2, p {
   color: var(--branding-color);
   font-family: var(--font-family);
   font-weight: bold;
}
p {
   font-family: var(--font-family);
   font-weight: normal;
   color: var(--branding-color);
}

